 /* reset */
 * {            
    padding: 0;
    margin: 0;            
}        
body {
    font-size: 18px;
}                
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}        
button {
    border: none;
    background: none;
}

/* common */
section {
    padding: 10px 20px;
}
h1 {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 20px;
}

/* header */
nav {
    padding: 30px 20px;        
    background: dodgerblue;        
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px; 
    font-size: 25px;       
    transition: 0.3s;    
}
nav a:hover {        
    color: #111;
}
.log-out {
    font-size: 15px;
}

/* login */
.login-wrap {
    width: 300px;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    padding: 20px;
    border-radius: 5px;
}
.login-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.login-item label {
    margin-right: 10px;
    width: 30px;
    flex-shrink: 0;
    text-align: center;
}
.login-item input {
    border: 1px solid #dbdbdb;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
.login-btn-wrap {
    display: flex;
    justify-content: end;
}
.login-btn-wrap button {
    background: dodgerblue;
    color: #fff;         
    margin-right: 5px; 
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;  
}
/* listpage */
.list-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 15px 0;
    margin-left: 10px;                                 
}
.list-header h1 {
    margin: 0;
}
.list-header a {
    color: dodgerblue;
    font-size: 20px;
    margin-right: 10px;
}
.list-item {
    display: flex;
    align-items: center;            
    margin-bottom: 20px;                
    padding: 0 20px;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    border-radius: 5px;
}
.list-item li {
    display: flex;
    align-items: center;
    padding: 10px 0;        
    margin-right: 20px;
}
.list-item li:last-child {
    margin-right: 0;
    margin-left: 60px;
}
.list-item li strong {
    margin-right: 5px;
}
.list-input {
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    padding-left: 10px;        
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    width: 50px;
}
.list-input.name {
    width: 100px;
}
.update-btn {
    color: dodgerblue;
    font-size: 20px;
    cursor: pointer;   
    margin-right: 10px;
}
.trash-btn {
    color: lightcoral;
    font-size: 20px;
    cursor: pointer;              
}
.total-info {
    margin-left: 10px;
}
.total-info span:first-child {
    margin-right: 10px;
}

/* addpage */
.add-wrap {
    padding: 20px;
    width: max-content;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.add-input {
    display: flex;
    margin-bottom: 10px;
}
.add-input label {
    display: block;
    width: 60px;
    margin-right: 5px;
}
.add-input input {
    padding: 5px;
    outline: none;
}
.add-btn {
    display: flex;
    justify-content: end;
}
.add-btn button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.add-btn button:first-child {
    background: dodgerblue;
    color: #fff;         
    margin-right: 5px;             
}
.add-btn button:last-child {                
    background: #dbdbdb;
}